{% extends "grafxapp/base.html" %}
{% load static %}

{% block title %}
Herr Graf
{% endblock %}

{% block content %}
<div class="container">
    <h1>Der geile Graf</h1>
    <div id="graph"></div>
    <!--<form id="graph-options">
        <label for="edgeWeight">Gewicht der Kante:</label>
        <input type="number" id="edgeWeight" name="edgeWeight">
        <label for="directedGraph">Gerichteter Graph:</label>
        <input type="checkbox" id="directedGraph" name="directedGraph">
    </form> -->
    <div id="d3-container"></div>
</div>

<!-- Einbinden von D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Ihr D3.js-Code -->


<script>
    var graphData = {{ graph_data|safe }};

console.log(graphData);

// Extract unique nodes from the list of edges
var nodesSet = new Set();
graphData.links.forEach(function(edge) {
    nodesSet.add(edge.source);
    nodesSet.add(edge.target);
});
var nodes = Array.from(nodesSet);

// Create a D3.js force-directed graph
var svg = d3.select("#graph").append("svg")
    .attr("width", 800)
    .attr("height", 600);

var simulation = d3.forceSimulation(graphData.nodes)
    .force("link", d3.forceLink(graphData.links).id(d => d.id))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(400, 300));

var link = svg.append("g")
    .attr("class", "links")
    .selectAll("line")
    .data(graphData.links)
    .enter().append("line")
    .attr("stroke", "red") //Kanten rot darstellen
    .attr("stroke-width", d => Math.sqrt(d.weight));

var node = svg.append("g")
    .attr("class", "nodes")
    .selectAll("circle")
    .data(graphData.nodes)
    .enter().append("circle")
    .attr("r", 5);

simulation.nodes(graphData.nodes)
    .on("tick", ticked);

simulation.force("link")
    .links(graphData.links);

function ticked() {
    link.attr("x1", d => d.source.x)
        .attr("y1", d => d.source.y)
        .attr("x2", d => d.target.x)
        .attr("y2", d => d.target.y);

    node.attr("cx", d => d.x)
        .attr("cy", d => d.y);

    console.log("Node positions:", graphData.nodes);
    console.log("Edge positions:", graphData.links);
}
</script>
    
{% endblock %}
